@use './../globals/breakpoints' as g;

.main__result{
    padding: 40px 0px ;
        text-align: center;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background:linear-gradient(to bottom, var(--Light-slate-blue-background),var(--Light-royal-blue-background));
        
        @include g.break-up(large){
            display: flex;
            align-items: center;
            gap: 20px;
            flex-direction: column;
            flex-basis: 50%;
            border-radius: 2rem;
        }
    & h1{
        color: var(--Light-lavender);
        margin-bottom: 1em;
        @include g.break-up(large){
            margin-bottom: 0rem;
        }
    }
    &--score{
        display: block;
        width: 13.5em;
        height: 13.5em;
        margin: 0 auto 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background:linear-gradient(to top, var(--Light-slate-blue-background),var(--Light-royal-blue-background));
        border-radius: 50%;
        @include g.break-up(large){margin: 1rem auto;}
        & p {
            color: var(--White);
            font-size: 4rem;
            font-weight: 800;
        }
        & span{
            color: var(--Light-lavender);
        }
    }
    &--text{
        & .one{
            color: var(--White);
            margin-bottom: 10px;
            font-size: 2rem;
        }
        & .two{

            color: var(--Light-lavender);
            padding: 0 70px;
            @include g.break-up(large){padding: 0 4.2em;}
        }
    }
    

}








